<!DOCTYPE html>
<html lang="heb">
<head>
    <meta charset="UTF-8">
    <title>Balance</title>
</head>
<body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>

    function refreshEnvelopeBalance(sheetId) {
        $.ajax({
            url: `/sheetBalance?sheetId=${sheetId}`,
            type: 'GET',
            success: function (response) {
                document.getElementById("balance-" + sheetId).innerText = response.result;
            },
            error: function (error) {
                document.getElementById("balance-" + sheetId).innerText = '???';
            }
        });
    }

    function onSubtract(sheetId) {
        let amount = -Math.abs(document.getElementById("amount-" + sheetId).value);
        onAmountSave(sheetId, amount);
    }

    function onAdd(sheetId, amount) {

        if (amount) {
            document.getElementById("amount-" + sheetId).value = amount;
            document.getElementById("comment-" + sheetId).value = 'תקציב';
        }

        amount = Math.abs(document.getElementById("amount-" + sheetId).value);
        onAmountSave(sheetId, amount);
    }

    function onAmountSave(sheetId, amount) {
        let payload = {
            sheetId: sheetId,
            amount: amount,
            comment: document.getElementById("comment-" + sheetId).value
        };

        document.getElementById("amount-" + sheetId).value = null;
        document.getElementById("comment-" + sheetId).value = null;
        document.getElementById("save-status-" + sheetId).innerText = '';

        $.ajax({
            url: "/addAmount",
            type: 'POST',
            data: JSON.stringify(payload),
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                document.getElementById("save-status-" + sheetId).innerText = 'SUCCESS';
                refreshEnvelopeBalance(sheetId);
                setTimeout(() => document.getElementById("save-status-" + sheetId).innerText = '', 10000);
            },
            error: function (error) {
                document.getElementById("save-status-" + sheetId).innerText = 'FAILURE';
                refreshEnvelopeBalance(sheetId);
                setTimeout(() => document.getElementById("save-status-" + sheetId).innerText = '', 10000);
            }
        });
    }
</script>

<table border="2" align="center">
    <tr>
        <th>Add</th>
        <th>Budget</th>
        <th>Balance</th>
        <th>Envelope</th>
        <th>Amount</th>
        <th>Comment</th>
        <th>Subtract</th>
        <th>Status</th>
    </tr>
    {{#each data}}
        <tr id="table-{{this.id}}">
            <td align="left">
                <button style="color: darkred; width: 100%" id="save-btn-{{this.id}}" onclick="onAdd('{{this.id}}')"><b>+</b></button>
            </td>
            <td align="left">
                <button style="color: darkred; width: 100%" id="save-budget-btn-{{this.id}}" onclick="onAdd('{{this.id}}', '{{this.budget}}')"><b>+{{this.budget}}</b></button>
            </td>
            <td align="left" id="balance-{{this.id}}">{{this.balance}}</td>
            <td align="right"><a target="_blank" rel="noopener noreferrer" href="{{this.link}}">{{this.name}}</a></td>
            <td align="left"><input type="number" id="amount-{{this.id}}"/></td>
            <td align="left"><input type="text" id="comment-{{this.id}}"/></td>
            <td align="left">
                <button style="color: darkred; width: 100%" id="save-btn-{{this.id}}" onclick="onSubtract('{{this.id}}')"><b>-</b></button>
            </td>
            <td align="left" id="save-status-{{this.id}}"></td>
        </tr>
    {{/each}}
</table>

<table border="2" align="center">
    <tr>
        <th>Plus</th>
        <th>Minus</th>
        <th>Total</th>
        <th>Envelopes Folder</th>
        <th>Budget Sheet</th>
    </tr>
    <tr>
        <td align="center">{{plus}}</td>
        <td align="center">{{minus}}</td>
        <td align="center">{{total}}</td>
        <td align="center"><a href="https://drive.google.com/drive/folders/0B46Z1DtmRS7qLU9LajZ5NnBLUXM" target="_blank">Link</a></td>
        <td align="center"><a href="https://docs.google.com/spreadsheets/d/1zUTBYIMlY1SQb3NN340iX44qri8BupdY3QMC7bxwA2k" target="_blank">Link</a></td>
    </tr>
</table>

</body>
</html>